{% extends 'base.html' %}

{% block title %}
    Beistand: Productos
{% endblock title %}

{% block contenido %}
  <h1 style="color: white">Lista de Productos</h1>
  <button class= "btn btn-primary" style="color: white; border-color: white; background-color: #00285c" onclick="location.href='{% url 'inicio:crear_producto' %}'">Crear Producto</button>
  {% if producto_list %}
    <table style="color: white" border="1">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Fecha alta</th>
            <th>Cantidad de piezas</th>
            <th>Descripcion</th>
            <th>Id</th>
            </tr>
        </thead>
            <tbody>
                {% for producto in producto_list %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.fecha_alta }}</td>
                    <td>{{ producto.cant_pzas }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.id }}</td>
                    <td>
                    <button>
                        <a class="navbar-brand" href={% url 'inicio:mostrar_producto' producto.id %}>Ver Producto</a>
                    </button>
                    <button>
                        <a class="navbar-brand" href={% url 'inicio:modificar_producto' producto.id %}>Modificar</a>
                    </button>
                    <button>
                        <a class="navbar-brand" href={% url 'inicio:eliminar_producto' producto.id %}>Eliminar</a>
                    </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
    <h2 style="color: white">No hay Productos por el momento.</h2>
    {% endif %}
{% endblock contenido %}