{% extends 'base.html' %}

{% block title %}
    <title>Beistand: Productos</title>
{% endblock title %}

{% block contenido %}
  <h1 style="color: white">Lista de Productos</h1>
  <a style="color: white" class= "navbar-brand" href={% url 'inicio:crear_producto' %}>Crear Producto</a>
  {% if productos %}
    <table style="color: white">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Fecha alta</th>
            <th>Cantidad de piezas</th>
            <th>Descripcion</th>
            <th>Id</th>
            </tr>
        </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.name }}</td>
                    <td>{{ producto.fecha_alta }}</td>
                    <td>{{ producto.cant_pzas }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.id }}</td>
                    <button>
                        <a style="color: white" class="navbar-brand" href={% url 'mostrar_producto' producto.id %}>{{producto}}</a>
                    </button>
                    <button>
                        <a class="navbar-brand" href={% url 'inicio:modificar_producto' producto.id %}>Modificar</a>
                    </button>
                    <button>
                        <a class="navbar-brand" href={% url 'inicio:eliminar_producto' producto.id %}>Eliminar</a>
                    </button>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
    <h2 style="color: white">No hay Productos por el momento.</h2>
    {% endif %}
{% endblock contenido %}