{% extends 'inicio/base.html' %}

{% block title %}
  Lista de Contactos
{% endblock title %}

{% block contentenido %}
  <h1>Lista de Contactos</h1>
  <p>Muchas Gracias por contactarte con Nosotros</p>
  <a class= "navbar-brand" href={% url 'inicio:crear_contacto' %}>Crear Contacto</a>
<p>
    <form action={% url 'inicio:lista_contactos' %}>
        {{formulario}}
        <button>Buscar</button>
    </form>
</p>

  {% if contacto %}
  <table>
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Correo electrónico</th>
              <th>Mensaje</th>
              <th>Id</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.name }}</td>
                <td>{{ contacto.phone }}</td>
                <td>{{ contacto.email }}</td>
                <td>{{ contacto.message }}</td>
                <td>{{ contacto.id }}</td>
                <a class="navbar-brand" href={% url 'mostrar_contacto' contacto.id %}>{{contacto}}</a>
                <button>
                    <a class="navbar-brand" href={% url 'inicio:modificar_contacto' contacto.id %}>Modificar</a>
                </button>
                <button>
                    <a class="navbar-brand" href={% url 'inicio:eliminar_contacto' contacto.id %}>Eliminar</a>
                </button>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No hay contactos por el momento.</h2>
    {% endif %}
{% endblock contentenido %}