{% extends 'base.html' %}

{% block title %}
        Beistand: Modficar Producto
{% endblock title %}

{% block header %}
<h1 style="color: white" class="fw-bolder">Producto a Modificar</h1>
{% endblock header %}

{% block contenido %}
<p style="color: white">{{formulario.error}}</p>


<form action={% url 'inicio:modificar_producto' producto.id %} method="POST">
    {% csrf_token %}
    <table style="color: white">
        {{form.media}}
        {{form}}
    </table>
    <button>Modificar</button>
</form>
{% endblock contenido %}