{% extends 'base.html' %}

{% block title %}
        Beistand: Modficar Producto
{% endblock title %}

{% block header %}
<h1 style="color: white" class="fw-bolder">Producto a Modificar</h1>
{% endblock header %}

{% block contenido %}
<p style="color: white">{{formulario.error}}</p>


<form action={% url 'inicio:modificar_producto' producto.id %} method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <table style="color: white">
        {{form.media}}
        <tr>
            <td>{{ form.nombre.label_tag }}</td>
            <td>{{ form.nombre }}</td>
        </tr>
        <tr>
            <td>{{ form.fecha_alta.label_tag }}</td>
            <td>{{ form.fecha_alta }}</td>
        </tr>
        <tr>
            <td>{{ form.cant_pzas.label_tag }}</td>
            <td>{{ form.cant_pzas }}</td>
        </tr>
        <tr>
            <td>{{ form.descripcion.label_tag }}</td>
            <td>{{ form.descripcion }}</td>
        </tr>
        <tr>
            <td>{{ form.imagen.label_tag }}</td>
            <td>{{ form.imagen }}</td>
        </tr>
    </table>
    <button>Modificar</button>
</form>
{% endblock contenido %}