{% extends 'base.html' %}

{% block title %}
                    Beistand: Inicio de sesion
{% endblock title %}

{% block header %}
                    <h1 style="color: white">Inicio de sesion</h1>
{% endblock header %}

{% block contenido %}

{% if formulario.errors %}
<p style="color: white">Hay errores</p>
{% endif %}

<form action={% url 'usuarios:login' %} method="post">
    {% csrf_token %}
    <table style="color: white">
        {{formulario}}
    </table>
    <button>Iniciar Sesion</button>
</form>
{% endblock contenido %}