{% extends 'base.html' %}

{% block title %}
                    Beistand: Informacion Usuario
{% endblock title %}

{% block header %}
                    <h1 style="color: white">Informacion Usuario</h1>
{% endblock header %}

{% block content %}
  <h1>User Detail</h1>
  <h2>Usuario: {{ user.username }}</h2>
  <img src="{{ user.avatar.url }}" alt="Avatar de {{ user.username }}" width="100" height="100">
  <p>Nombre: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Descripción: {{ user.description }}</p>
  <p>Repositorio de GitHub: <a href="{{ user.github_repo }}">{{ user.github_repo }}</a></p>
  <p>Email: {{ user.email }}</p>
{% endblock %}