{% extends 'base.html' %}

{% block title %}
                    Beistand: Registro
{% endblock title %}

{% block header %}
                    <h1 style="color: white">Registro</h1>
{% endblock header %}

{% block contenido %}

{% if formulario.errors %}
<p style="color: white">Hay errores</p>
{% endif %}

<form action={% url 'usuarios:registro' %} method="post">
    {% csrf_token %}
    <table style="color: white">
        {{formulario}}
    </table>
    <button>Registrarse</button>
</form>
{% endblock contenido %}